
#view {
	overflow: hidden;
	position: relative;
}

#slider {
	position: relative;
	top: 0;
}

section {
	overflow: hidden;
	background-color: #000;
	position: absolute;
}

article {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: #fff;
	position: absolute;
}	

.screen0-0 {
	background-image: url('../images/bear1-half.jpg');
}
.screen1-0 {
	background-image: url('../images/bear2-half.jpg');
}
.screen2-0 {
	background-image: url('../images/bear3-half.jpg');
}